:root {
  --primary-color: #017eff;
  --secondary-color: #01afff;
  --background-color: #f2f9ff;
  --white-color: #fcfefe;
  --text-color: #3d3d3d;
  --light-text-color: #9cc4dd;
  --gradient: linear-gradient(270deg, #4ad4de 0%, #01aee4 100%);
  --gradient-vertical: linear-gradient(#01aee4 0%, #4ad4de 100%);
  --gradient-svg: linear-gradient(to bottom, #01aee4, #4ad4de);

  --element-shadow: 0px 4px 4px rgba(0, 43, 87, 0.2);
  --text-shadow: 0px 2px 3px rgba(0, 43, 87, 0.2);

  --font-text: "Montserrat", sans-serif;
  /*Installed weight : 400 400ita 500 600 700 900*/
  --font-integer: "Archivo", sans-serif;
  /*Installed weight : 400 500 700 900*/
}



.row {
  flex-shrink: 1;
}

.App {
  font-family: var(--font-text);
  color: var(--text-color);
}


.App .container {
  margin: 0;
  padding: 0;
}

.App .scrollUp {
  border-radius: 4px 0 0 0;
  box-shadow: var(--element-shadow);
  padding: 4px 7px;
  font-size: 16px;
  color: var(--white-color);
  background: var(--gradient);
  z-index: 2;
  position: fixed;
  bottom: 0;
  right: 0;
}

.App .forcastSection {
  margin: 0 0 100px;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .App {
    border-radius: 10px;
  }

  .App .contentAll {
    margin: 64px auto 50px;
    max-width: 1040px;
    background: linear-gradient(180deg, #cff4ff 0%, var(--background-color) 100%);
    border-radius: 10px 10px 0 0;
  }

  .App .scrollUp {
    display: none;
  }

  .App .forcastSection {
    margin: 150px 0 0;
  }

}