.Forcast {
  background-color: var(--background-color);
  border-radius: 4px;
  box-shadow: var(--element-shadow);
  min-height: 85px;
  min-width: 310px;
  margin: 15px 40px;
}

.Forcast a {
  text-decoration: none;
  color: var(--text-color);
}

/* Animation to add to forcast's carets when aria-expanded is true */
.Forcast .caretTransform {
  transform: rotate(90deg);
  transition: all 0.1s ease-out;

}

.Forcast .notCollapsable {
  display: flex;
  align-items: center;
}

.Forcast btn:hover {
  color: var(--text-color);
}

.Forcast .container {
  padding: 20px 20px;
}

.Forcast .weekDay {
  font-size: 20px;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: 0 0 0 10px;
  font-weight: 700;
}



.Forcast .shortText {
  display: none;
}

.Forcast .fullText {
  display: inline;
}

.Forcast .minMax {
  font-family: var(--font-integer);
  color: var(--primary-color);
  font-size: 23px;
  line-height: 1;
  padding: 0 10px 0 0;
  position: relative;
  z-index: 1;
}

.Forcast .min,
.Forcast .max {
  display: flex;
  justify-content: flex-end;
}

.Forcast a {
  padding: 0;
  line-height: 1;

}

.Forcast .forcastCaret {
  font-size: 23px;
}

.Forcast .icon {
  opacity: 0.9;
  font-size: 56px;
  line-height: 1;
}

.Forcast .yellow {
  color: #f2d231;
}

.Forcast .blue {
  color: var(--light-text-color);
}

.Forcast .hiddenInfo {
  padding: 60px 20px 20px 20px;
  justify-content: center;
  text-align: center;
}

.Forcast .hiddenInfo .title {
  font-size: 12px;
  font-weight: 700;
  padding: 0 0 7px 0;
}

.Forcast .hiddenInfo .data {
  color: var(--secondary-color);
  font-weight: 700;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  padding: 0 0 20px 0;
}

.Forcast .hiddenInfo .text {
  font-size: 14px;
}

.Forcast .hiddenInfo .integer {
  font-size: 17px;
  font-family: var(--font-integer);
}

.Forcast .hiddenInfo .unit {
  color: var(--light-text-color);
  font-size: 10px;
  padding: 0.5% 0 0 0.5%;
}

.Forcast .windDirection {
  transform: rotate(90deg);
  height: 23px;
  width: 23px;
  padding: 3px;
  fill: var(--light-text-color);
  filter: drop-shadow(var(--text-shadow));
}

/* btn bootstrap overwrite */

.Forcast .btn,
.Forcast .btn:focus {
  color: var(--text-color);

}

.Forcast .btn:hover {
  color: var(--light-text-color);
  border-color: transparent;
}

.smHidden {
  display: none;
}

.Forcast .lgVersion {
  display: none;
}

@media (min-width: 768px) {
  .Forcast {
    margin: 0 40px 20px 0;
  }
}