:root {
  --primary-color: #017eff;
  --secondary-color: #01afff;
  --background-color: #f2f9ff;
  --white-color: #fcfefe;
  --text-color: #3d3d3d;
  --light-text-color: #9cc4dd;
  --gradient: linear-gradient(270deg, #4ad4de 0%, #01aee4 100%);
  --gradient-vertical: linear-gradient(#01aee4 0%, #4ad4de 100%);

  --element-shadow: 0px 4px 4px rgba(0, 43, 87, 0.2);
  --text-shadow: 0px 2px 3px rgba(0, 43, 87, 0.2);

  --font-text: "Montserrat", sans-serif;
  /*Installed weight : 400 400ita 500 600 700 900*/
  --font-integer: "Archivo", sans-serif;
  /*Installed weight : 400 500 700 900*/
}

.App {
  font-family: var(--font-text);
}

.App .container {
  margin: 0;
}
