.Footer {
  background-color: var(--primary-color);
  min-height: 195px;
  color: var(--white-color);
  text-align: center;
  font-size: 12px;
  padding: 40px 0 0;
}

.Footer a {
  color: var(--white-color);
  text-decoration: none;
  font-weight: 600;
}

.Footer a:hover {
  color: var(--white-color);
  color: var(--light-text-color);


}

.Footer hr {
  margin: 0;
  color: var(--light-text-color);
  opacity: 0.1;
  border-top: 2px solid;
  padding: 0 0 20px 0;
}

.Footer .imageCredits {
  padding-top: 10px;
}

@media (min-width: 768px) {
  .Footer .content {
    margin: 0;
    padding: 20px;
  }

  .Footer {
    border-radius: 0 0 10px 10px;
  }
}