.Infos {
  min-height: 100vh;
  min-height: 100svh;
  margin-bottom: 60px;
}

.Infos .background {
  fill: var(--background-color);
  position: absolute;
  z-index: -2;
  filter: drop-shadow(var(--text-shadow));
  height: 1200px;
  width: 100vw;
  width: 100svw;
}

.Infos .container {
  text-align: center;
  padding-inline: 45px;
  padding-block: 55px;
  margin-bottom: 25px;
}

.Infos .hidden {
  display: none;
}

.Infos .icon {
  font-size: 48px;
  background-image: var(--gradient-vertical);
  background-clip: text;
  color: transparent;
  padding-bottom: 25px;
}

.Infos .title {
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 25px;
  text-shadow: var(--text-shadow);
}

.Infos .data {
  color: var(--secondary-color);
  font-weight: 900;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  line-height: 1;
  padding-bottom: 55px;
  text-shadow: var(--text-shadow);
}

.Infos .text {
  font-size: 20px;
}

.Infos .integer {
  font-size: 35px;
  font-family: var(--font-integer);
}

.Infos .unit {
  font-size: 15px;
  font-weight: 500;
  color: var(--light-text-color);
  padding: 2% 0 0 2%;
}

.Infos .windDirection {
  transform: rotate(90deg);
  height: 25px;
  width: 25px;
  padding: 3px;
  fill: var(--light-text-color);
  filter: drop-shadow(var(--text-shadow));
}

@media (min-width:576px) {
  .Infos {
    min-height: 0;
    margin-bottom: 60px;
  }

  .Infos .background {
    display: none;
  }

  .Infos .container {
    padding-inline: 0px 90px;
    padding-block: 150px 0;
    margin-bottom: 0px;
  }

  .Infos .icon {
    font-size: 30px;
    background-image: var(--gradient-vertical);
    background-clip: text;
    color: transparent;
    padding-bottom: 25px;
  }

  .Infos .title {
    font-size: 11px;
    font-weight: 700;
    padding-bottom: 20px;
  }

  .Infos .data {
    line-height: 1;
    padding-bottom: 25px;

  }

  .Infos .text {
    font-size: 12px;
  }

  .Infos .integer {
    font-size: 20px;

  }

  .Infos .unit {
    font-size: 10px;
    padding: 2% 0 0 2%;
  }

  .Infos .windDirection {
    height: 20px;
    width: 20px;
    padding: 3px;
  }
}