/*overwriting bootstrap section*/
input,
button,
select,
optgroup,
textarea {
  font-size: 16px;
}

/* END SECTION*/

.Weather .container {
  padding: 0 30px;
}
.Weather .currentWeather {
  background-image: url("./medias/sunny.svg");
  background-repeat: no-repeat;
}
.Weather {
  background: linear-gradient(180deg, #cff4ff 0%, var(--background-color) 100%);
}

.Weather header {
  height: 115px;
  width: 100vw;
  padding: 60px 30px 30px 30px;
  margin: 0 -30px;
  background-color: var(--primary-color);
}

.Weather form {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid var(--light-text-color);
}

.Weather form input {
  background-color: transparent;
  border: none;
}
.Weather form button,
.Weather hr,
.Weather form input {
  color: var(--light-text-color);
}
.Weather form input::placeholder {
  font-style: italic;
  color: var(--light-text-color);
}

.Weather .updateTime {
  font-size: 12px;
  margin: 10px 0;
  font-style: italic;
  color: var(--light-text-color);
  text-shadow: var(--text-shadow);
}

.Weather .forcastAnchor,
.Weather .fahrenheit,
.Weather .celsius {
  position: absolute;
  right: 0;
  font-weight: 700;
  display: flex;
}

.Weather .forcastAnchor {
  border-radius: 0 0 0 4px;
  box-shadow: var(--element-shadow);
  padding: 7px 5px 7px 14px;
  font-size: 16px;
  top: 115px;
  align-items: flex-start;
  color: var(--white-color);
  background: var(--gradient);
  z-index: 1;
}

.Weather .fahrenheit,
.Weather .celsius {
  font-size: 20px;
  padding: 7px;
  box-shadow: 0 0 0;
  color: var(--text-color);
  background: transparent;
  border: none;
  width: 40px;
}
.Weather .fahrenheit:hover,
.Weather .celsius:hover,
.Weather .active {
  color: var(--primary-color);
  background: var(--white-color);
  box-shadow: var(--element-shadow);
}

.Weather .fahrenheit {
  top: 199px;
  z-index: 2;
  border-radius: 4px 0 0 4px;
}
.Weather .fahrenheit:hover {
  border-radius: 0 0 0 4px;
}
.Weather .celsius {
  z-index: 2;
  top: 156px;
  border-radius: 0 0 0 4px;
}

.Weather .forcastAnchor i {
  font-size: 24px;
  line-height: 1;
  padding-left: 5px;
}

.btn:focus-visible {
  color: var(--white-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: transparent;
  outline: 0;
  box-shadow: 0;
}

.btn:hover {
  color: var(--white-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: transparent;
  box-shadow: 0 0 0;
}

.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: var(--light-text-color);
  background-color: var(--bs-btn-active-bg);
  border-color: transparent;
}
