/*overwriting bootstrap section*/
input,
button,
select,
optgroup,
textarea {
  font-size: 16px;
}

/* END SECTION*/

.Weather {
  background: linear-gradient(180deg, #cff4ff 0%, var(--background-color) 100%);
}

.Weather .container {
  padding: 0 30px;
  height: 100vh;
  height: 100svh;
}

/*  HEADER */

.Weather header {
  height: 115px;
  width: 100vw;
  width: 100svw;
  padding: 60px 30px 30px 30px;
  margin: 0 -30px;
  background-color: var(--primary-color);
}

.Weather form {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid var(--light-text-color);
}

.Weather form input {
  background-color: transparent;
  border: none;
}

.Weather form button,
.Weather form input {
  color: var(--light-text-color);
}

.Weather form input::placeholder {
  font-style: italic;
  color: var(--light-text-color);
}

.Weather .updateTime {
  font-size: 12px;
  margin: 10px 0;
  font-style: italic;
  color: var(--light-text-color);
  text-shadow: var(--text-shadow);
}

.Weather .forcastAnchor,
.Weather .fahrenheitSm,
.Weather .celsiusSm {
  position: absolute;
  right: 0;
  display: flex;
}

.Weather .forcastAnchor,
.Weather .fahrenheitSm,
.Weather .celsiusSm,
.Weather .fahrenheit,
.Weather .celsius {
  font-weight: 700;
}

.Weather .forcastAnchor {
  border-radius: 0 0 0 4px;
  box-shadow: var(--element-shadow);
  padding: 7px 5px 7px 14px;
  font-size: 16px;
  top: 115px;
  align-items: flex-start;
  color: var(--white-color);
  background: var(--gradient);
  z-index: 1;
}



.Weather .fahrenheitSm,
.Weather .celsiusSm,
.Weather .fahrenheit,
.Weather .celsius {
  font-size: 20px;
  padding: 7px;
  box-shadow: 0 0 0;
  color: var(--text-color);
  background: transparent;
  border: none;
  width: 40px;
  text-decoration: none;
}

.Weather .fahrenheitSm:hover,
.Weather .celsiusSm:hover,
.Weather .fahrenheit:hover,
.Weather .celsius:hover,
.Weather .active {
  color: var(--primary-color);
  background: var(--white-color);
  box-shadow: var(--element-shadow);
}

.Weather .fahrenheitSm {
  top: 199px;
  z-index: 2;
  border-radius: 4px 0 0 4px;
}


.Weather .fahrenheitSm:hover {
  border-radius: 0 0 0 4px;
}

.Weather .fahrenheit:hover {
  border-radius: 4px;
}

.Weather .celsiusSm {
  z-index: 2;
  top: 156px;
  border-radius: 0 0 0 4px;
}

.Weather .forcastAnchor i {
  font-size: 24px;
  line-height: 1;
  padding-left: 5px;
}

.btn:focus-visible {
  color: var(--white-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: transparent;
  outline: 0;
  box-shadow: 0;
}

.btn:hover {
  color: var(--white-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: transparent;
  box-shadow: 0 0 0;
}

.btn-check:checked+.btn,
:not(.btn-check)+.btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: var(--light-text-color);
  background-color: var(--bs-btn-active-bg);
  border-color: transparent;
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

/* CURRENT WEATHER */
.Weather .currentWeather {
  background-image: url("./background-images/sunny.svg");
  background-repeat: no-repeat;
  background-position: right 10px top 25px;
  background-size: 75%;
  height: 100vh;
  padding-top: 170px;
  text-shadow: var(--text-shadow);
}

.Weather .currentWeather .degree {
  font-weight: 900;
  font-family: var(--font-integer);
  font-size: 160px;
  line-height: 0.85;
  margin-left: -9px;
}

.Weather .currentWeather .description {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  padding: 15px 0 0;
}

.Weather .currentWeather .feelsLike,
.Weather .currentWeather .minMax {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}



.Weather .currentWeather i {
  background-image: var(--gradient-vertical);
  background-clip: text;
  color: transparent;
}

/*  POSITION */
.Weather .positionTime {
  text-shadow: var(--text-shadow);
}

.Weather .position {
  padding: 65px 0 0;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
}

.Weather .time {
  font-style: italic;
  color: var(--primary-color);
  font-size: 10px;
  padding-left: 30px;
}

.Weather .position a {
  padding: 0 5px 0 0;
}

.Weather .position i {
  font-size: 26px;
  display: block;
}

@media (max-width: 575px) {

  .Weather .fahrenheit,
  .Weather .celsius {
    display: none;
  }
}

@media (min-width: 576px) {
  .Weather {
    background: none;
    height: 912px;
  }

  .Weather .forcastAnchor,
  .Weather .fahrenheitSm,
  .Weather .celsiusSm {
    display: none;
  }

  .Weather .container {
    padding: 0;
  }

  .Weather .fahrenheit,
  .Weather .celsius {
    color: var(--white-color);
    margin: 0 0 0 10px;
  }

  .Weather .active {
    color: var(--primary-color);
    border-radius: 4px;
  }

  .Weather .unitButtons {
    margin: 0 0 0 30px;

  }

  .Weather header {
    height: 85px;
    max-width: 1040px;
    padding: 24px 88px 15px;
    border-radius: 10px 10px 0 0;
    background-color: var(--primary-color);
    margin: 0;
    display: flex;
    align-items: center;
  }

  .Weather .content {
    padding: 0 88px 15px;
  }

  .Weather .position {
    font-size: 42px;
  }

  .Weather .time {
    font-size: 15px;
    padding-top: 10px;
  }

  .Weather .currentWeather .degree {
    font-size: 205px;
    line-height: 0.85;
    margin-left: -9px;
  }

  .Weather .currentWeather .description {
    font-size: 21px;
    line-height: 1.5;
    padding: 15px 0 0;
  }

  .Weather .currentWeather .feelsLike,
  .Weather .currentWeather .minMax {
    font-weight: 500;
    font-size: 19px;
    line-height: 1.5;
  }
}